/*
    TYPE
*/

body { font-family: 'Open Sans', sans-serif; }

.hl { font-family: 'Open Sans Condensed', sans-serif; }



body { background: #f9f9f9; }

.wrapper {    max-width: 380px;
    margin: 0 auto;
    background: white;
    min-height: 600px;
    border-radius: 5px;
    overflow: hidden;
}

/*
    MODULE: HEADER
*/
.header { height: 60px; width: 100%; left: 0; top: 0; right: 0; background: url('../images/header_bg.png') repeat; background-size: 438px;  }
.header_inner { opacity: 0.96; background: #FF5270; height: 100%; width: 100%; }

.header_logo { text-align: center; width: 100%; color: white; display: block; font-size: 1.7rem; line-height: 3.6rem; position: absolute; left: 50%; transform: translateX(-50%); }
.header_settings { padding: 18px; }
.header_dotdotdot { padding: 18px; margin-top: 3px; }
/*
    MODULE: SCREENS
*/

.screen { display: none; }
.screen--initial { display: block; }




/*
    HELPERS
*/

.hidden { display: none; }

